
		<!-- Section  -->

		<section class="section center" id="srvcview">

			<logos-comp srvclogo="srvcsctrl.srvcs"></logos-comp>

			<div class="services-wrapper">

				<div class="section-header">
					<h1 class="section-heading">
					Services
					</h1>
					<div class="underline"></div>
				</div>


				<div class="service">
					
					<div class="description">
						<h2 id="maint">
							Maintenance
						</h2>
						<p>
							Fast and reliable automobile mechanical maintenance for vehicles of all makes. we at Autoway always aim to give you the highest of quality and most reliable maintanance possible with our team of expert mechanics and advanced tools and the ability to track the progress of the maintanace of your vehicle in real time using our SMS services and our active online support.
						</p>
					</div>

					<div class="service-img">
						<img src="images/Service1.jpeg" alt="Maintenance">
					</div>	
				</div>

				<div class="service">
					<div class="service-img1">
						<img src="images/service2.jpeg" alt="Maintenance">
					</div>

					<div class="description description2">
						<h2 id="mods">
							Modification
						</h2>
						<p>
							Body and performace modification and enhancement by our experienced and creative team. add neons, body kits, custom paintjobs, install the best tires on the market and enhance your vehicle performance with parts customised to suit your style and preference as well as improving the experience of driving with the best quality engine and transmission enhancement. 
						</p>
					</div>

					<div class="service-img2">
						<img src="images/service2.jpeg" alt="Modification">
					</div>
						
				</div>

				<div class="service">

					<div class="description">
						<h2 id="updt">
							Updating
						</h2>
						<p>
							Update your automobile software to the latest versions in a matter of minutes. just like your mobile phone or laptop, your vehicle needs to be updated to get the best possible out of it as well as fixing issues with the software that may cause you a lot of issues down the line. we at Autoway are able to fix and update your vehicle's firmware in mere minutes.
						</p>
					</div>

					<div class="service-img">
						<img src="images/service3.jpeg" alt="Updating">
					</div>	
				</div>


			</div>

		</section>

		<!-- Section -->

