<div class="brands-wrapper">
	<div class=brand ng-repeat="item in $ctrl.srvclogo">
		<img ng-src="images/brands/{{item}}.png" alt="Acura">
	</div>
	<!-- <div class=brand>
		<img src="images/brands/audi.png" alt="Audi">
	</div>
	<div class=brand>
		<img src="images/brands/bmw.png" alt="BMW">
	</div>
	<div class=brand>
		<img src="images/brands/chevrolet.png" alt="Chevrolet">
	</div>
	<div class=brand>
		<img src="images/brands/daewoo.png" alt="Daewoo">
	</div>
	<div class=brand>
		<img src="images/brands/fiat.png" alt="Fiat">
	</div>
	<div class=brand>
		<img src="images/brands/ford.png" alt="Ford">
	</div>
	<div class=brand>
		<img src="images/brands/honda.png" alt="Honda">
	</div>
	<div class=brand>
		<img src="images/brands/hyundai.png" alt="Hyundai">
	</div> -->
</div>