<section class="section center" id="homeview">

			<div class="why-us-wrapper">

				<div class="section-header">
					<h1 class="section-heading">
					Why Us
					</h1>
					<div class="underline"></div>
					</div>

				

				<whyus-comp whyus="homectrl.whyus"></home-comp>
				

			</div>

			<div class="section-header">
				<h1 class="section-heading">
					Our Services
				</h1>
				<div class="underline"></div>
			</div>

			<ourservices-comp ourservices="homectrl.ourservices"></home-comp>
			
		</section>