
		<!-- Section  -->

		<section class="section center" id="aboutview">

			
			<div class="about-wrapper">

				<div class="section-header">
					<h1 class="section-heading">
					About Us
					</h1>
					<div class="underline"></div>
				</div>


				<div class="about">
					
					<div class="description about-description">
						<p>
							Autoway inc. is a car maintenance and improvement garage in Billings, Montana founded in 2013. our goal is to provide convenient and revolutionary automobile services in record time and with honesty and transparency. we are a family with a long history of automobile mechanics and we are now engaged in modern computer centered automobiles like no one else with vast knowledge in automobile software and hardware and the workings of everything under the hood as well as being in the market of spare parts and custom body modifications.
							<br/>
							<br/>
							<br/>
							1300 Grand Ave, Billings, MT 59102, United States
							<br/>
							Tel: 406-252-9059
						</p>
					</div>

					<div class="about-img">
						<img src="images/aboutimg.jpg" alt="Maintenance">
					</div>	
				</div>


			</div>

		</section>

		<!-- Section -->
